.imagenDescripcion{
    width: 80%;
    border-radius: 10px;
}

.descripcion--texto{
    position: relative;
    top: -10.5rem;
    left: 7.2rem;
    width: 65%;
    padding: 1rem;
    border-radius: 12px;
    background-color: #fef1fb50;
    backdrop-filter: blur(5px);
}

.textoDescripcion{
    text-align: justify;
    font-weight: bold;
}