.descripcion--img{
    width: 9rem;
    height: 14rem;
    background-image: url('/assets/img/prod.jpg');
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.imagenDescripcion{
    width: 100%;
    width: 100%;
}

.descripcion--texto{
    width: 50%;
    padding: 15px 15px 15px 0;
}

.textoDescripcion{
    text-align: justify;
    font-weight: bold;
}