.container__opciones{
    display: none;
    margin-top: .6rem;
}

.container__opciones--lista{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    animation:scale-up-vertical-top 0.6s linear;
}

.menuOpciones__lista--items{
    margin-left: 2.8rem;
}

.menuOpciones__lista--links{
    text-decoration: none;
    text-align: start;
    font-size: 1.256rem;
    color: #000;
}

.activadorMenu{
    display: block;
}

@keyframes scale-up-vertical-top{
    0%{
        transform:scaleY(.4);transform-origin:center top
    }
    100%{
        transform:scaleY(1);transform-origin:center top
    }
}