/* .encabezado__container--menu{
    width: 60vw;
    height: 100vh;
    background-color: purple;
} */

.encabezado__container--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iconoMenu{
    font-size: 1.8rem;
}

.menu--titulo{
    font-size: 1.45rem;
}

.menu--logo{
    width: 4rem;
}

