.encabezado__container--menuDesplegable{
    width: 65vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 1s;
    z-index: 1000;
}

.modalActive{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: center;
    background-color: rgba(26, 5, 21, 0.5);
}

.closeIcon{
    font-size: 1.8rem;
    position: absolute;
    top: 12px;
    right: 12px;
    margin: .8rem .6rem 0 0;
}

.menuContainer{
    padding: 20px;
    margin-top: 3rem;
    width: 100%;
}

.menuContainer__lista--items{
    margin-bottom: 1rem;
    padding: .5rem;
}

.iconoItems{
    font-size: 1.6rem;
    margin-right: 1.4rem;
}

.menuContainer__lista--link{
    width: 100%;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.op1::after{
    content: "Ropa";
}

.op2::after{
    content: "Calzado";
}

.op3::after{
    content: "Juguetes";
}

.op4::after{
    content: "Toallas";
}

.op5::after{
    content: "Sábanas";
}

.op6::after{
    content: "Mochilas";
}

.iconoVerMas{
    font-size: 1rem;
    position: absolute;
    right: 0.8rem;
    margin-right: 1rem;
}

.activeTransition{
    transform: translateX(0%);
}
