.encabezado__container--menuDesplegable{
    display: none;
    width: 65vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.closeIcon{
    font-size: 1.8rem;
    position: absolute;
    top: 12px;
    right: 12px;
    margin: .8rem .6rem 0 0;
}

.menuContainer{
    padding: 20px;
    margin-top: 3rem;
    width: 100%;
}

.menuContainer__lista--items{
    margin-bottom: 1rem;
    padding: .5rem;
}

.iconoItems{
    font-size: 1.8rem;
    margin-right: 1.4rem;
}

.menuContainer__lista--link{
    width: 100%;
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.op1::after{
    content: "Ropa";
}

.op2::after{
    content: "Calzado";
}

.op3::after{
    content: "Juguetes";
}

.op4::after{
    content: "Toallas";
}

.op5::after{
    content: "Sábanas";
}

.op6::after{
    content: "Mochilas";
}

.iconoVerMas{
    font-size: 1rem;
    position: absolute;
    right: 0.8rem;
    margin-right: 1rem;
}