@import url("/css/home/menu/menuDesplegable.css");
@import url("/css/home/menu/listaRopa.css");

.encabezado__container--menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.iconoMenu{
    font-size: 1.8rem;
    color: #ffcaf4;
}

.menu--titulo{
    font-size: 1.65rem;
    font-family: 'Pacifico', cursive;
    color: #ffcaf4;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
}

.menu--logo{
    width: 4.2rem;
}