@import url("/css/reset.css");
@import url("/css/home/logo/informacion.css");
@import url("/css/home/menu/menu.css");
@import url("/css/home/descripcion/descripcion.css");

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* background-image: linear-gradient(to bottom, #20c8e9, #175a73); */
    background: #AA076B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #d1268f , #61045F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #d1268f , #61045F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

.encabezado{
    padding-bottom: 20px;
}